.carousel-personalizado {
  max-width: 800px !important;
  margin: 0 auto !important;
  border-radius: $border-radius-xl;
  overflow: hidden;
  align-self: center !important;
  
  .carousel-item {
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    opacity: 0;
    
    &.active {
      position: relative;
      opacity: 5;
    }
  }
}


.carousel-indicators {
  margin-bottom: 0;

  [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: $border-radius-circle;
    margin: 0 4px;
  }
}