.form-control {
    padding: 10px 12px;
    border-color: $color-border;
    
    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 0.25rem rgba(56, 199, 199, 0.25);
    }
  }
  
  .form-label {
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .form-check-label {
    font-size: $font-size-smallest;
  }