html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-white;
  overflow-x: visible;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}