.grid-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
    width: 100%;
    max-width: 100vw;
  }
  
  .main {
    grid-area: main;
  }
  
  .footer {
    background-color: $color-bg-light;
    text-align: center;
    grid-area: footer;
    padding: $spacing-xs;
    font-size: $font-size-small;
    color: $color-text;
  }